/**TAG SELECTORS**/

body {
  background-color: #faf3e0;
}

hr {
  background-color: #faf3e0;
  border-style: none;
  border-top-style: dotted;
  border-color: #eabf9f;
  border-width: 5px;
  height: 0;
  width: 10%
}

img {
  height: 150px;
}

h1 {
  color: #b68973;
  font-family: Segoe UI Light;
}

h2 {
  color: #b68973;
  font-family: Segoe UI Light;
}

h4 {
  color: #b68973;
  font-family: Segoe UI Light;
  background-color: white;
}

p {
  color: #1e212d;
  font-family: Segoe UI;
}

ul {
  color: #1e212d;
  font-family: Segoe UI;
}

table {
  color: #1e212d;
  font-family: Segoe UI;
}

footer {
  color: #1e212d;
  font-family: Segoe UI;
}


a:link {
  color: #b68973;
}

a:visited {
  color:  #b68973;
}

a:hover {
    color:#eabf9f;

}

a:active {
      color:#eabf9f;
}

.limit {
  border-style: none;
  border-top-style: solid;
  border-color: white;
  float:left;
  padding: 5px;
  border-width: 5px;
  width: 100%;
}

/**CLASS SELECTORS**/
.menu {
  list-style-type: none;
 padding: 0;
 margin: 0;
 display: inline-flex;
 overflow: hidden;
 float: right;
color: #eabf9f;
text-align: center;
text-decoration: none;
}

.menu a {
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.menu a:hover {
  color: #eabf9f;
  font-style: italic;
}

.container {
  margin:0 auto;
  width:960px;
}
/**ID SELECTORS**/
