/**TAG SELECTORS**/

body {
  background-color: #faf3e0;
}

hr {
  background-color: #faf3e0;
  border-style: none;
  border-top-style: dotted;
  border-color: #eabf9f;
  border-width: 5px;
  height: 0;
  width: 10%
}

img {
  height: 150px;
}

h1 {
  color: #b68973;
  font-family: Segoe UI Light;
}

h2 {
  color: #b68973;
  font-family: Segoe UI Light;
}

h3 {
  color: #b68973;
  font-family: Segoe UI Light;
}

p {
  color: #1e212d;
  font-family: Segoe UI;
}

ul {
  color: #1e212d;
  font-family: Segoe UI;
}

table {
  color: #1e212d;
  font-family: Segoe UI;
}

footer {
  color: #1e212d;
  font-family: Segoe UI;
}

/**CLASS SELECTORS**/

/**ID SELECTORS**/
